<h3>20 most recent donations</h3>
<table><tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td>4/7/2021</td><td>0.01733mBTC</td><td>Any</td></tr>
<tr><td>3/15/2021</td><td>0.17539mBTC</td><td>Any</td></tr>
<tr><td>3/3/2021</td><td>0.19427mBTC</td><td>Any</td></tr>
<tr><td>2/16/2021</td><td>0.06153mBTC</td><td>Any</td></tr>
<tr><td>1/22/2021</td><td>0.00003mBTC</td><td>Any</td></tr>
<tr><td>1/22/2021</td><td>0.00298mBTC</td><td>Any</td></tr>
<tr><td>1/22/2021</td><td>0.00298mBTC</td><td>Any</td></tr>
<tr><td>1/20/2021</td><td>0.02888mBTC</td><td>Any</td></tr>
<tr><td>1/18/2021</td><td>5.069mBTC</td><td>Any</td></tr>
<tr><td>1/12/2021</td><td>0.0001mBTC</td><td>Any</td></tr>
<tr><td>1/7/2021</td><td>0.26046mBTC</td><td>Any</td></tr>
<tr><td>1/3/2021</td><td>0.01867mBTC</td><td>Any</td></tr>
<tr><td>12/16/2020</td><td>0.00518mBTC</td><td>Any</td></tr>
<tr><td>12/12/2020</td><td>0.10624mBTC</td><td>Any</td></tr>
<tr><td>12/9/2020</td><td>11.09554mBTC</td><td>Any</td></tr>
<tr><td>12/6/2020</td><td>1.04112mBTC</td><td>MoreOS</td></tr>
<tr><td>12/4/2020</td><td>1.05195mBTC</td><td>Any</td></tr>
<tr><td>11/21/2020</td><td>0.05351mBTC</td><td>Any</td></tr>
<tr><td>11/6/2020</td><td>0.31795mBTC</td><td>Any</td></tr>
<tr><td>10/31/2020</td><td>0.14556mBTC</td><td>Any</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>139.39372mBTC</td></tr>
<tr><td>MoreWallets</td><td>0.10336mBTC</td></tr>
<tr><td>FrequentUpdates</td><td>0mBTC</td></tr>
<tr><td>AdCampaign</td><td>0mBTC</td></tr>
<tr><td>MoreOS</td><td>3.05023mBTC</td></tr>
<tr><td>CodeReviews</td><td>5.12753mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>0.00097mBTC</td></tr>
<tr><td>Alerts</td><td>0.01231mBTC</td></tr>
<tr><td>NonWalletApps</td><td>0mBTC</td></tr>
<tr><th>Total</th><th>147.68812mBTC</th></tr></table>
